body {
  font-family: Poppins, sans-serif;
  background-color: #fafafa;
  color: #0a0a0a;
}

h1 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
}

.recipes-nav {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0 50px;
  border: 2px solid #0a0a0a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 4px 0 #000;
}

.recipes-nav__title {
  font-size: 24px;
  font-weight: bold;
}

.recipes {
  display: flex;
  flex-direction: row;
}

.recipes li {
  list-style: none;
  margin-right: 15px;
}

.recipesBtn {
  background-color: #e5e5e5;
  display: inline-flex;
  align-items: center;
  border: 2px solid #0a0a0a;
  border-radius: 10px;
  padding: 7px;
  text-decoration: none;
  color: inherit;
  box-shadow: 3px 3px 0 #000;
}

.recipesBtn:active {
  transform: translateY(3px);
  box-shadow: 3px 0 0 #000;
}
